/** {
border: 1px solid red !important;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}*/

/*no-repeat scroll center top transparent;*/
html {
  background-image: url("/images/background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}


@font-face {
  font-family: squeaky-chalk;
  src: url(/fonts/squeaky-chalk-sound.regular.ttf);
}

@font-face {
  font-family: squeaky-chawp;
  src: url(/fonts/chawp.regular.ttf);
}


@font-face {
  font-family: kg-blank-space;
  src: url(/fonts/kg-blank-space.olid.ttf);
}

@font-face {
  font-family: crayon;
  src: url(/fonts/DK-Cool-Crayon.ttf);
}

@font-face {
  font-family: blzee;
  src: url(/fonts/blzee.regular.ttf);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.blog {
  border-color: white;
  border-style: solid;
  margin-top: 50px;
  width: 5cm;
}

.main-page-content{
}

.reflaction-content{
  max-width: 50%;
}

.time-habits-content{
  max-width: 50%;
}

.html-css-dom-content{
  max-width: 50%;
}
.t2-question-1, .t2-question-2, .t2-question-3
.c2-question-1, .c2-question-2{
  max-width: 50%;
}

.t2-question-1 b {
  color: #860808;
}

.t2-question-1 img {
  width: 100%;
}

.t2-question-3 img {
  margin-left: 40%;
}

h1{
  color: #FFFFFF;
  font-family: squeaky-chalk;

}

h2 {
  font-family: squeaky-chawp;
  color: #FFFFFF;
}

h3 {
  font-family: squeaky-chawp;
  font-size: 22px;
  color: #FFFFFF;
}

p, pr {
  font-family: crayon;
  font-size: 20px;
  color: #FFFFFF;
}

.home-page {
  margin-right: 60%;
  color: #4CBD7B;
}

footer {
  font-size: 1.5em;

}

a {
  color: #9AE8D4;
  font-family: kg-blank-space;
}
