body {
  background-color: #F8F8F8;
  margin: auto;
  width: 60%;
  padding: 10px;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
  font-size: 22px;
}

p {
  font-family: sans-serif;
  font-size: 20px;
}

a {
  color: #a2a2a2;
}
