/** {
  outline: 1px solid red !important;
}*/

body {
  background-color: #F8F8F8;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://www.ngepluk.com/p/school-board-wallpaper-free-jlf.jpg");
}

.container {
  display: flex;
  justify-content: center;
}

.main-page-content{

}

.reflaction-content{
  max-width: 50%;
  border-color: white;
  border-style: solid;
  border-width: 5px;
}

.time-habits-content{
  max-width: 50%;
}

.html-css-dom-content{
  max-width: 50%;
}

h1{
  color: #FFFFFF;
}

h2 {
  font-family: sans-serif;
  color: #FFFFFF;
}

h3 {
  font-family: sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

a {
  color: #9AE8D4;
}
