/** {
outline: 1px solid red !important;
}*/

/*no-repeat scroll center top transparent;*/
body {
  background: url("/images/background.jpg") no-repeat scroll center top transparent;
  height: 100px;
}


@font-face {
    font-family: squeaky-chalk;
    src: url(/fonts/squeaky-chalk-sound.regular.ttf);
}

@font-face {
    font-family: squeaky-chawp;
    src: url(/fonts/chawp.regular.ttf);
}


@font-face {
    font-family: kg-blank-space;
    src: url(/fonts/kg-blank-space.olid.ttf);
}

@font-face {
    font-family: crayon;
    src: url(/fonts/DK-Cool-Crayon.ttf);
}

@font-face {
    font-family: blzee;
    src: url(/fonts/blzee.regular.ttf);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog {
  border-color: white;
  border-style: solid;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 20%;
  margin-left: 40%;
}

.main-page-content{

}

.reflaction-content{
  max-width: 50%;
}

.time-habits-content{
  max-width: 50%;
}

.html-css-dom-content{
  max-width: 50%;
}

h1{
  color: #FFFFFF;
  font-family: squeaky-chalk;

}

h2 {
  font-family: squeaky-chawp;
  color: #FFFFFF;
}

h3 {
  font-family: squeaky-chawp;
  font-size: 22px;
  color: #FFFFFF;
}

p {
  font-family: crayon;
  font-size: 20px;
  color: #FFFFFF;
}

footer p {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center;
  font-size: 1.5em;
}

a {
  color: #9AE8D4;
  font-family: kg-blank-space;
}
